In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('HR_comma_sep.csv')

In [3]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
data.isnull().values.sum()

0

In [5]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [6]:
data['Department'].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [8]:
data['salary'].unique()

array(['low', 'medium', 'high'], dtype=object)

In [11]:
dummies1 = pd.get_dummies(data.salary)
dummies1

       high  low  medium
0         0    1       0
1         0    0       1
2         0    0       1
3         0    1       0
4         0    1       0
...     ...  ...     ...
14994     0    1       0
14995     0    1       0
14996     0    1       0
14997     0    1       0
14998     0    1       0

[14999 rows x 3 columns]

In [12]:
dummies2 = pd.get_dummies(data.Department)
dummies2

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
14994,0,0,0,0,0,0,0,0,1,0
14995,0,0,0,0,0,0,0,0,1,0
14996,0,0,0,0,0,0,0,0,1,0
14997,0,0,0,0,0,0,0,0,1,0
14998,0,0,0,0,0,0,0,0,1,0

In [14]:
data_merged = pd.concat([dummies1, dummies2, data], axis='columns')
data_merged

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,...,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0,1,0,0,0,0,0,0,0,0,...,0.38,0.53,2,157,3,0,1,0,sales,low
1,0,0,1,0,0,0,0,0,0,0,...,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0,0,1,0,0,0,0,0,0,0,...,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0,1,0,0,0,0,0,0,0,0,...,0.72,0.87,5,223,5,0,1,0,sales,low
4,0,1,0,0,0,0,0,0,0,0,...,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,1,0,0,0,0,0,0,0,0,...,0.40,0.57,2,151,3,0,1,0,support,low
14995,0,1,0,0,0,0,0,0,0,0,...,0.37,0.48,2,160,3,0,1,0,support,low
14996,0,1,0,0,0,0,0,0,0,0,...,0.37,0.53,2,143,3,0,1,0,support,low
14997,0,1,0,0,0,0,0,0,0,0,...,0.11,0.96,6,280,4,0,1,0,support,low
14998,0,1,0,0,0,0,0,0,0,0,...,0.37,0.52,2,158,3,0,1,0,support,low

In [15]:
data_final = data_merged.drop(['Department', 'salary'], axis='columns')
data_final

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,...,support,technical,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0.38,0.53,2,157,3,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0.80,0.86,5,262,6,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0.11,0.88,7,272,4,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0.72,0.87,5,223,5,0,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0.37,0.52,2,159,3,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0,1,0,0,0,0,0,0,0,0,...,1,0,0.40,0.57,2,151,3,0,1,0
14995,0,1,0,0,0,0,0,0,0,0,...,1,0,0.37,0.48,2,160,3,0,1,0
14996,0,1,0,0,0,0,0,0,0,0,...,1,0,0.37,0.53,2,143,3,0,1,0
14997,0,1,0,0,0,0,0,0,0,0,...,1,0,0.11,0.96,6,280,4,0,1,0
14998,0,1,0,0,0,0,0,0,0,0,...,1,0,0.37,0.52,2,158,3,0,1,0

In [16]:
import seaborn as sns

In [ ]:
sns.pairplot(data_final,height=20 )

In [22]:
corr = data_final.corr()
corr

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,...,support,technical,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
high,1.000000,-0.292560,-0.260274,-0.016089,-0.015115,0.011821,-0.017858,0.209077,0.009642,-0.006514,...,-0.029184,-0.014672,0.029708,-0.020628,-0.008726,-0.007101,0.039953,0.009040,-0.120929,0.076756
low,-0.292560,1.000000,-0.847144,0.005116,-0.011887,-0.009759,-0.015690,-0.084641,-0.009479,0.006191,...,0.022038,0.015674,-0.047415,0.005221,-0.002504,-0.001050,-0.040110,-0.006813,0.134722,-0.082832
medium,-0.260274,-0.847144,1.000000,0.003775,0.020402,0.003285,0.025765,-0.030716,0.004213,-0.002632,...,-0.006035,-0.007673,0.031367,0.006191,0.007377,0.005007,0.018299,0.001856,-0.068833,0.040985
IT,-0.016089,0.005116,0.003775,1.000000,-0.070240,-0.069293,-0.067949,-0.062500,-0.073524,-0.075503,...,-0.124705,-0.140484,0.006373,0.001269,0.003287,0.006967,-0.006053,-0.009293,-0.010925,-0.038942
RandD,-0.015115,-0.011887,0.020402,-0.070240,1.000000,-0.054629,-0.053570,-0.049274,-0.057965,-0.059525,...,-0.098315,-0.110755,0.006615,-0.005471,0.009703,-0.001177,-0.021116,0.017167,-0.046596,0.021268
accounting,0.011821,-0.009759,0.003285,-0.069293,-0.054629,1.000000,-0.052848,-0.048610,-0.057183,-0.058723,...,-0.096989,-0.109262,-0.028649,0.002193,0.004189,0.000524,0.003909,-0.012836,0.015201,-0.004852
hr,-0.017858,-0.015690,0.025765,-0.067949,-0.053570,-0.052848,1.000000,-0.047667,-0.056075,-0.057584,...,-0.095109,-0.107143,-0.012841,-0.009645,-0.027356,-0.010783,-0.022194,-0.015649,0.028249,-0.001531
management,0.209077,-0.084641,-0.030716,-0.062500,-0.049274,-0.048610,-0.047667,1.000000,-0.051578,-0.052966,...,-0.087482,-0.098551,0.007172,0.009662,0.009728,0.000834,0.115436,0.011242,-0.046035,0.128087
marketing,0.009642,-0.009479,0.004213,-0.073524,-0.057965,-0.057183,-0.056075,-0.051578,1.000000,-0.062308,...,-0.102911,-0.115933,0.005715,-0.000311,-0.023064,-0.008210,0.012096,0.011367,-0.000859,0.049253
product_mng,-0.006514,0.006191,-0.002632,-0.075503,-0.059525,-0.058723,-0.057584,-0.052966,-0.062308,1.000000,...,-0.105682,-0.119054,0.006919,-0.001989,0.000829,-0.005494,-0.003919,0.001246,-0.011029,-0.037288
sales,-0.039273,0.023766,-0.002174,-0.184302,-0.145300,-0.143341,-0.140562,-0.129289,-0.152093,-0.156187,...,-0.257967,-0.290608,0.004007,-0.023031,-0.013388,-0.001718,0.015150,-0.004955,0.009923,0.012353
support,-0.029184,0.022038,-0.006035,-0.124705,-0.098315,-0.096989,-0.095109,-0.087482,-0.102911,-0.105682,...,1.000000,-0.196636,0.009185,0.017104,0.000303,-0.002444,-0.030111,0.012079,0.010700,-0.035605
technical,-0.014672,0.015674,-0.007673,-0.140484,-0.110755,-0.109262,-0.107143,-0.098551,-0.115933,-0.119054,...,-0.196636,1.000000,-0.009345,0.013742,0.028596,0.013638,-0.027991,-0.006070,0.020076,-0.035799
satisfaction_level,0.029708,-0.047415,0.031367,0.006373,0.006615,-0.028649,-0.012841,0.007172,0.005715,0.006919,...,0.009185,-0.009345,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,-0.020628,0.005221,0.006191,0.001269,-0.005471,0.002193,-0.009645,0.009662,-0.000311,-0.001989,...,0.017104,0.013742,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.008726,-0.002504,0.007377,0.003287,0.009703,0.004189,-0.027356,0.009728,-0.023064,0.000829,...,0.000303,0.028596,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.007101,-0.001050,0.005007,0.006967,-0.001177,0.000524,-0.010783,0.000834,-0.008210,-0.005494,...,-0.002444,0.013638,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,0.039953,-0.040110,0.018299,-0.006053,-0.021116,0.003909,-0.022194,0.115436,0.012096,-0.003919,...,-0.030111,-0.027991,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.009040,-0.006813,0.001856,-0.009293,0.017167,-0.012836,-0.015649,0.011242,0.011367,0.001246,...,0.012079,-0.006070,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.120929,0.134722,-0.068833,-0.010925,-0.046596,0.015201,0.028249,-0.046035,-0.000859,-0.011029,...,0.010700,0.020076,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.076756,-0.082832,0.040985,-0.038942,0.021268,-0.004852,-0.001531,0.128087,0.049253,-0.037288,...,-0.035605,-0.035799,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000

In [24]:
data_final.columns

Index(['high', 'low', 'medium', 'IT', 'RandD', 'accounting', 'hr',
       'management', 'marketing', 'product_mng', 'sales', 'support',
       'technical', 'satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years'],
      dtype='object')

In [23]:
from sklearn.model_selection import train_test_split

In [26]:
X = data_final[['high', 'low', 'medium', 'IT', 'RandD', 'accounting', 'hr',
       'management', 'marketing', 'product_mng', 'sales', 'support',
       'technical', 'satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years']]

In [27]:
y = data_final['left']

In [28]:
X.head()

,high,low,medium,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.38,0.53,2,157,3,0,0
1,0,0,1,0,0,0,0,0,0,0,1,0,0,0.80,0.86,5,262,6,0,0
2,0,0,1,0,0,0,0,0,0,0,1,0,0,0.11,0.88,7,272,4,0,0
3,0,1,0,0,0,0,0,0,0,0,1,0,0,0.72,0.87,5,223,5,0,0
4,0,1,0,0,0,0,0,0,0,0,1,0,0,0.37,0.52,2,159,3,0,0

In [31]:
y

0        1
1        1
2        1
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [38]:
model.score(X_test, y_test)

0.7866666666666666

In [42]:
model.predict([[0,1,0,0,0,0,0,0,1,0,0,0,0,0.80,0.86,2,262,6,1,0]])

array([0], dtype=int64)

In [43]:
from sklearn.externals import joblib

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [44]:
joblib.dump(model, 'hr_joblib')

['hr_joblib']